spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/poi
    username: postgres
    password: Aviks131
  jpa:
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
        ddl-auto: create-drop
        format_sql: false
    defer-datasource-initialization: false
  sql:
    init:
      mode: never

logging:
  level.ru.dsci.*: info
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread]: %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.sss} [%thread] %-5level %logger{36}: %msg%n"
  file:
    name: logs/bot.log
    path: logs/

telegram_bot:
  username: Shelter Base
  token: 5935777952:AAE6Z5Fc39kvz7lkaDZYjcwGZ7uXqCaBX5E

poi:
  seek_range_list: 300,1000,3000,5000,10000
  max_results: 10

geocoder:
  key: rutlwl7657

resources:
  media_path: ./media
  map_url: https://www.google.com/maps/d/edit?mid=1XFHja4qVec5STrKzqbEHtjB2rHmFGH8&ll=50.72749662825774%2C37.167550269531226&z=9
